<template>
  <div>
    <LayoutPage :showHeader="true" :showFooter="true" titlePage="Carrito">
      <v-container>
        <v-row v-if="current && current.monto">
          <v-col xs="12" md="4" lg="4">
            <img class="productImage" :src="current.image" />
          </v-col>
          <v-col xs="12" md="8" lg="8">
            <div class="text-h5" v-text="current.title"></div>
            <form @submit="processPayment">
              <v-text-field
                name="email"
                v-model="email"
                @keyup="keyDownState"
                label="Correo electrónico"
              />
              <v-text-field
                name="phone"
                v-model="phone"
                @keyup="keyDownState"
                label="Teléfono"
              />
              <v-btn type="submit" color="primary" block>Ir a pagar</v-btn>
            </form>
          </v-col>
        </v-row>
        <v-row v-else>
          <v-col cols="12">
            <div class="text-h4">
              Tu carrito esta vacio, por favor agregar una tarjeta a tu carrito
            </div>
          </v-col>
          <v-col cols="12">
            <v-btn color="primary" to="/" text>Volver</v-btn>
          </v-col>
        </v-row>
        <form hidden id="webpayform" method="post">
          <input type="text" id="token_ws" name="token_ws">
        </form>
      </v-container>
      <v-dialog max-width="280" v-model="dialog.show">
        <v-card>
          <v-card-title class="text-h5"> {{dialog.title}} </v-card-title>
          <v-card-text>
            {{dialog.text}}
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="secondary" text @click="dialog.show = false"> Aceptar </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </LayoutPage>
  </div>
</template>
<script>
import Layout from "../Layout.vue";
import { goToWebpay } from '../../services/webpay';

export default {
  components: {
    LayoutPage: Layout,
  },
  computed: {
    current() {
      return this.$store.getters.getTarjeta(this.$store.getters.getCart.idprice);
    },
    email() {
      return this.$store.getters.getCart.email;
    },
    phone() {
      return this.$store.getters.getCart.phone;
    },
  },
  data() {
    return {
      dialog: {
        title: "",
        text: "",
        show: false
      }
    };
  },
  methods: {
    keyDownState(e) {
      this.$store.dispatch("setCartAction", {
        ...this.$store.getters.getCart,
        [e.target.name]: e.target.value,
      });
    },
    processPayment(e) {
      e.preventDefault();
      if(!this.email || !this.phone || this.email == "" || this.phone == ""){
        this.dialog.title = "Hola";
        this.dialog.text = "Por favor completa el formulario";
        this.dialog.show = true;
        return false;
      }

      let email = this.email;
      let phone = this.phone;
      let idprice = this.$store.getters.getCart.idprice;
      let price = this.$store.getters.getCart.price;
      let vm = this;
      goToWebpay(price, idprice, email, phone).then( (done) => {
        console.log(done);
        vm.$cookies.set('lcsale', done.data.sale);
        vm.$cookies.set('lccard', done.data.card);
        vm.$cookies.set('lctoken', done.data.webpay.token);
        let webpayform = document.getElementById('webpayform');
        let token_ws = webpayform.querySelector('#token_ws');
        webpayform.action = done.data.webpay.url;
        token_ws.value = done.data.webpay.token;
        webpayform.submit();
      } );
      
    },
  },
};
</script>

<style>
.productImage {
  width: 100%;
}
</style>