<template>
  <div>
    <v-app>
      <HeaderComponent />
      
      <v-container>
          <GridProducts />
      </v-container>
      
      <FooterComponent />
    </v-app>
  </div>
</template>
<script>
import Header from '../Components/Header.vue';
import Footer from '../Components/Footer.vue';

import GridProduct from '../Components/GridProducts.vue';

export default {
  metaInfo: {
    title: "Tarjeta locutorios",
    titleTemplate: "%s - Home",
    htmlAttrs: {
      lang: "es"
    }
  },
  data() {
    return {
      model: 0,
      colors: ["primary", "secondary", "yellow darken-2", "red", "orange"],
    };
  },
  components: {
      "HeaderComponent": Header,
      "FooterComponent": Footer,
      "GridProducts": GridProduct
  }
};
</script>
