<template>
  <div>
    <LayoutPage :showHeader="true" :showFooter="true" titlePage="Carrito">
      <v-container>
        <v-row>
          <v-col xs="12" md="12" lg="12">
            <div class="text-h2">Validando tu compra</div>
            <countdown :time="5000" tag="p" @end="endCount">
                <template slot-scope="props">{{props.seconds}}</template>
            </countdown>
          </v-col>
        </v-row>
      </v-container>
    </LayoutPage>
  </div>
</template>
<script>
import Layout from "../Layout.vue";

export default {
  components: {
    LayoutPage: Layout,
  },
  computed: {
    
  },
  data() {
    return {
      
    };
  },
  methods: {
      endCount(){
          alert();
      }
  },
};
</script>

<style>

</style>