<template>
  <v-footer dark padless>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-card class="flex" flat tile>
            <v-row>
              <v-col cols="6">
                <img class="footerBrandImage" :src="brandImages.paymentSure" />
              </v-col>
              <v-col cols="6">
                <img class="footerBrandImage" :src="brandImages.paymentWay" />
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>
<script>
import paySure from "../../assets/othersImages/pago-seguro.png";
import paymentWay from "../../assets/othersImages/paymentway.png";
export default {
  data() {
    return {
      brandImages: {
        paymentWay: paymentWay,
        paymentSure: paySure,
      },
      icons: ["mdi-facebook", "mdi-whatsapp", "mdi-instagram"],
    };
  },
};
</script>
<style lang="sass">
.footerBrandImage {
  width: 250px;
}
</style>
