<template>
  <div>
    <v-row dense>
      <v-col v-for="(item, i) in products" :key="i" xl="3" md="3" sm="12">
          <Product :name="item.title" :image="item.image" :serial="item.idprecio" :price="item.monto" />
      </v-col>
    </v-row>
  </div>
</template>
<script>

import Product from "./Product.vue";
export default {
    components: {
        "Product": Product
    },
  data() {
    return {
    };
  },
  computed: {
    products(){
      return this.$store.getters.getTarjetas;
    }
  },
  mounted(){
    this.$store.dispatch('setTarjetasAction');
  }
};
</script>
