<template>
  <div>
    <v-app-bar color="primary" dense dark>
      <v-img :src="logo" max-width="150"></v-img>

      <v-spacer></v-spacer>

      <div v-if="!$isMobile()">
        <v-btn class="LcNavbar_item" to="/" :plain="!isActive('Home')" :text="isActive('Home')">
          Inicio
        </v-btn>
        <v-btn class="LcNavbar_item" to="/" :plain="!isActive('HowBuy')" :text="isActive('HowBuy')">
          ¿Cómo comprar?
        </v-btn>
        <v-btn class="LcNavbar_item" to="/" :plain="!isActive('HowUse')" :text="isActive('HowUse')">
          ¿Cómo usar?
        </v-btn>
        <v-btn class="LcNavbar_item" to="/" :plain="!isActive('Fq')" :text="isActive('Fq')">
          Preguntas frecuentes
        </v-btn>
        <v-btn class="LcNavbar_item" to="/" :plain="!isActive('Contact')" :text="isActive('Contact')">
          Contacto
        </v-btn>
      </div>
      <div v-if="$isMobile()">
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      </div>
      <v-btn to="/cart" icon>
          <v-icon>
              mdi-cart
          </v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute left temporary>
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item>
            <v-list-item-title>Foo</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Bar</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Fizz</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Buzz</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
<script>
import LogoHeader from "../../assets/logo.svg";
export default {
  data() {
    return {
      logo: LogoHeader,
      drawer: false,
      group: false
    };
  },
  methods: {
    isActive(name) {
      let is = false;
      return this.$route.name === name;
    },
  },
  mounted() {
    this.isActive();
  },
};
</script>
