<template>
  <div>
    <v-card class="mx-auto LcProduct">
      <v-img class="white--text align-end" :src="image"> </v-img>
      <v-card-text class="text--primary">
        <v-card-title class="LcProduct_title">{{name}}</v-card-title>
      </v-card-text>
      <v-card-actions>
        <v-btn color="secondary" text>Mas informacion</v-btn>
        <v-btn @click="goToPayment(serial, price)" color="primary"> Comprar </v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog max-width="280" v-model="warning">
      <v-card>
        <v-card-title class="text-h5">
          ¿Desea continuar?
        </v-card-title>
        <v-card-text>
          A continuación, procederemos a continuar la compra...
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="secondary"
            text
            @click="cancelBuy"
          >
            Cancelar
          </v-btn>

          <v-btn
            color="primary"
            text
            @click="nextStep"
          >
            Continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
    props: {
        name: String,
        price: Number,
        image: String,
        serial: Number
    },
    data() {
        return {
          warning: false
        };
    },
    methods: {
      goToPayment(idPrice, ammount){
        this.warning = true;
        this.$store.dispatch('setCartAction', {...this.$store.getters.getCart, idprice: idPrice, price: ammount});
      },
      cancelBuy(){
        this.warning = false;
      },
      nextStep(){
        this.$router.push('/cart');
      }
    },
    mounted(){
    }
};
</script>

<style scoped>
    .text--primary {
        padding-left: 10px;
        padding-right: 10px;
    }
    .v-card__title {
        padding: 0;
    }
</style>
