<template>
  <div>
    <v-app>
        <HeaderComponent />
        <div>
            <slot />
        </div>
        <FooterComponent />
    </v-app>
  </div>
</template>
<script>
import Header from "./Components/Header.vue";
import Footer from "./Components/Footer.vue";
export default {
  name: "Layout",
  metaInfo(){
      return {
          title: this.metaTitle
      }
  },
  data() {
    return {
        metaTitle: ""
    };
  },
  props: {
    showHeader: Boolean,
    showFooter: Boolean,
    titlePage: String,
  },
  components: {
    HeaderComponent: Header,
    FooterComponent: Footer,
  },
  methods: {
  },
  mounted(){
      this.metaTitle = this.titlePage + " - Tarjeta Locutorios";
  }
};
</script>